


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.max-width{
    max-width: 1300px;
    padding: 8px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 7px 0;
    background: rgb(46, 126, 179);
}
.navbar .max-width{
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(46, 126, 179);
    font-size: large;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500px;
    margin-left: 25px;

}
.navbar .menu li a:hover{
    color: rgb(46, 126, 179);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/* menu btn style */
.menu-btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}


.home{
    display: flex;
    background-image: url('../uploader/homeimage.jpg') ;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-shadow: #0f0f0f;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.home .max-width{
    margin: auto 0 auto 130px;
}
.home .home-content .text-1{
    font-family: 27px;
}
.home .home-content .text-2{
    font-family: 75px;
    font-weight: 600px;
    margin-left: -3;
    font-size: 50px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
}
.home .home-content a{
    display: inline-block;
    background: rgb(46, 126, 179);
    color: #fff;
    font-size: 25px;
    padding: 12px 35px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: white;
    border-color: white;
    background: transparent;
}

.form_data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
}

.item img {
    max-width: 100%;
    height: auto;
}

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");



.clubs{
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  column-count: 4;
}

.blog{
    /* height: 100vh; */
}
.blog-content{

  height: 300px;
  width: 21%;
  /* margin-left: 5%; */

}
.blog-content img{
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px 40px;
  color: rgb(68, 63, 63);
}

.heading {
  font-size: 60px;
  color: rgb(51, 49, 49);
  /* text-align: center; */
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: black;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

/* add activity club css start */
.add_club{
    font-family: var(--Lexend);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 200px;
    margin-bottom: 50px;
    height: 100px;
    width: 100%;
    border-radius: 50px;
    font-size: 25px;
}
.add_club .text{
    margin-bottom: 20px;

}
.add_club button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_club button img{
    height: 100px;
    width: 100px;
    
}
/* add activity club css ends */

/* display image css starts */


.rowu{
    width: 100%;
    height: 200px;
}

.rowu .images img{
    width: 70px;
    height: 70px;
}
/* display image css ends */

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}


:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Global Classes ---------------*/



h2{
    font-family: var(--Lexend);
}
.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    color: aliceblue;
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}



p{
    font-family: var(--Lexend);
    color: var(--text-light);
}





/* ----------------- Footer --------------------- */

.contact.contact{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

.contact.contact .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contact.contact .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

.contact.contact .container h2{
    color: var(--white);
}

.contact.contact .newsletter .form-element{
   color: aliceblue;
}

.contact.contact .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

.contact.contact .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

.contact.contact .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

.contact.contact .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

.contact.contact .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

.contact.contact .move-up{
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.contact.contact .move-up span{
    color: var(--midnight);
}

.contact.contact .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    .contact.contact .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    .contact.contact .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){


    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }
    .navbar{
        position: fixed;
        width: 100%;
        height: 130px;
        z-index: 999;
        /* padding: 10px 0; */
        transition: all 0.3s ease;
    }
    .contact.contact .move-up{
        position: absolute;
        right: 3%;
        bottom : 10%;
    }


}